In [1]:
from consumer_loan.core import ConsumerLoan
import datetime
notional_amount = 25000
term_in_tenor = 24
annual_percentage_rate = 0.1
effective_date = datetime.datetime.now()
repayment_day = 10

In [2]:
ConsumerLoanClass = ConsumerLoan(notional_amount,
                                 term_in_tenor,
                                 annual_percentage_rate,
                                 repayment_day,
                                 effective_date)
ConsumerLoanClass.process()
ConsumerLoanClass.schedule[['Start_Date', 'End_Date', 'Balance_Start', 'Interest', 'Principal', 'Balance_End', 'Payment']]

,Start_Date,End_Date,Balance_Start,Interest,Principal,Balance_End,Payment
0,"April 13th, 2018","May 10th, 2018",25000.00,187.50,923.66,24076.34,1111.16
1,"May 10th, 2018","June 11th, 2018",24076.34,207.32,903.84,23172.50,1111.16
2,"June 11th, 2018","July 10th, 2018",23172.50,186.67,924.49,22248.01,1111.16
3,"July 10th, 2018","August 10th, 2018",22248.01,185.40,925.76,21322.25,1111.16
4,"August 10th, 2018","September 10th, 2018",21322.25,177.69,933.47,20388.78,1111.16
5,"September 10th, 2018","October 10th, 2018",20388.78,169.91,941.25,19447.53,1111.16
6,"October 10th, 2018","November 12th, 2018",19447.53,172.87,938.29,18509.24,1111.16
7,"November 12th, 2018","December 10th, 2018",18509.24,143.96,967.20,17542.04,1111.16
8,"December 10th, 2018","January 10th, 2019",17542.04,146.18,964.98,16577.06,1111.16
9,"January 10th, 2019","February 11th, 2019",16577.06,142.75,968.41,15608.65,1111.16
10,"February 11th, 2019","March 11th, 2019",15608.65,130.07,981.09,14627.56,1111.16
11,"March 11th, 2019","April 10th, 2019",14627.56,117.83,993.33,13634.23,1111.16
12,"April 10th, 2019","May 10th, 2019",13634.23,113.62,997.54,12636.69,1111.16
13,"May 10th, 2019","June 10th, 2019",12636.69,105.31,1005.85,11630.84,1111.16
14,"June 10th, 2019","July 10th, 2019",11630.84,96.92,1014.24,10616.60,1111.16
15,"July 10th, 2019","August 12th, 2019",10616.60,94.37,1016.79,9599.81,1111.16
16,"August 12th, 2019","September 10th, 2019",9599.81,74.67,1036.49,8563.32,1111.16
17,"September 10th, 2019","October 10th, 2019",8563.32,71.36,1039.80,7523.52,1111.16
18,"October 10th, 2019","November 11th, 2019",7523.52,64.79,1046.37,6477.15,1111.16
19,"November 11th, 2019","December 10th, 2019",6477.15,52.18,1058.98,5418.17,1111.16
20,"December 10th, 2019","January 10th, 2020",5418.17,45.15,1066.01,4352.16,1111.16
21,"January 10th, 2020","February 10th, 2020",4352.16,36.27,1074.89,3277.27,1111.16
22,"February 10th, 2020","March 10th, 2020",3277.27,27.31,1083.85,2193.42,1111.16
23,"March 10th, 2020","April 14th, 2020",2193.42,20.72,1090.44,1102.98,1111.16
24,"April 14th, 2020","May 11th, 2020",1102.98,8.27,1102.98,0.00,1111.25